<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReviewMapper">

    <!-- 단일행 조회를 위한 기능 정의 -->
    <select id="selectItem">
        SELECT comment, sp, date_format(regDate, '%Y/%m/%d') as regDate, userNo, bookNo FROM review WHERE reviewNo=#{reviewNo}
    </select>

    <!-- 다중행 조회를 위한 기능 정의 -->
    <select id="selectList">
        SELECT reviewNo, comment, sp, date_format(r.regDate, '%Y/%m/%d') as regDate, u.loginId, bookNo FROM review as r
        INNER JOIN user as u ON r.userNo = u.userNo 
         <where>
            <if test="bookNo != null and bookNo != ''">
                AND bookNo LIKE concat('%', #{bookNo}, '%')
            </if>
        </where>
        <choose>
            <when test="odby == 'spUp'">
                ORDER BY sp ASC
            </when>
            <when test="odby == 'spDown'">
                ORDER BY sp DESC
            </when>
            <otherwise>
                ORDER BY regDate DESC
            </otherwise>
        </choose>
        <!-- 페이지 구현을 위한 LIMIT절 추가 -->
        <if test="listCount > 0">
            LIMIT ${offset}, ${listCount}
        </if>
    </select>

   

    <!-- 데이터 저장을 위한 기능 정의 -->
    <insert id="insertItem">
        INSERT INTO review (comment, sp, regDate, userNo, bookNo) VALUES (#{comment}, #{sp}, date_format(now(), '%Y/%m/%d'), #{userNo}, #{bookNo})
    </insert>

    <!-- 데이터 삭제를 위한 기능 정의 -->
    <delete id="deleteItem">
        DELETE FROM review WHERE reviewNo=#{reviewNo}
    </delete>

    <!-- 데이터 갱신을 위한 기능 정의 -->
    <update id="updateItem">
        UPDATE review SET comment=#{comment}, sp=#{sp}, regDate=date_format(#{regDate}, '%Y/%m/%d'), userNo=#{userNo}, bookNo=#{bookNo}
        WHERE reviewNo=#{reviewNo}
    </update>

   
    <!-- 데이터 수 조회하기  -->
    <select id="selectCountAll">
        SELECT COUNT(*) AS cnt FROM review
        <where>
            <if test="bookNo != null and bookNo != ''">
                bookNo LIKE concat('%', #{bookNo}, '%')
            </if>
            <if test="point != null and point != ''">
               AND sp BETWEEN #{point} and (#{point}+0.5)
            </if>
        </where>
    </select>

    <!-- user 탈퇴 시 리뷰 삭제 기능 정의 -->
    <select id="deleteReviewByUser">
        DELETE FROM review WHERE userNo=#{userNo}
    </select>

</mapper>
